#App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .2rem;
  background-color: rgb(76, 95, 95);
  color:black;
}

.welcome {
  align-items: center;
  border-bottom: 5px black solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: .5rem;
  padding-bottom: .5rem;
  
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: #000;
}

.off {
  color: #ccc;
}

#1 {
  border-color: black;
  display: flex;
  flex-direction: row;
  float: left;
}

.parent1 {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.child1 {
  display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  padding-top: 2rem;
  vertical-align: middle;
  height: 400px;
  
}

.parent2 {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.child2 {
  display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  padding-top: 2rem;
  vertical-align: middle;
  height: 400px;
 
}

.parent3 {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
  
}
.child3 {
  display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  padding-top: 2rem;
  vertical-align: middle;
  height: 400px;
  
}

#rating {
  width: 100px;
}

#cardFooter {
  float: inline-end;
}